<form class="character-sheet">
    <h1>{{name}}</h1>
  
    <div>
      <label>Size:</label>
      <select name="system.size">
        <option value="smallest">Smallest</option>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
        <option value="largest">Largest</option>
      </select>
    </div>
  
    <div>
      <label>Material:</label>
      <select name="system.material">
        <option value="plush">Plush</option>
        <option value="soft">Soft</option>
        <option value="combo">Combination</option>
        <option value="flexplas">Flexible Plastic</option>
        <option value="hardplas">Hard Plastic</option>
      </select>
    </div>
  
    <div>
      <label>Cuteness:</label>
      <select name="system.cuteness">
        <option value="ugly">Ugly</option>
        <option value="notcute">Not Cute</option>
        <option value="tkorlv">Meh</option>
        <option value="cute">Cute</option>
        <option value="adorbs">Adorable</option>
      </select>
    </div>
  
    <div>
      <label>Years Owned:</label>
      <select name="system.yearsOwned">
        <option value="one">1 Year</option>
        <option value="two">2 Years</option>
        <option value="three">3 Years</option>
        <option value="four">4 Years</option>
        <option value="five">5+ Years</option>
      </select>
    </div>
  
    <div>
      <label>Extra Parts:</label>
      <div>
        <input type="checkbox" name="system.extraParts.battery" /> Battery
        <input type="checkbox" name="system.extraParts.joints" /> Joints
        <input type="checkbox" name="system.extraParts.wheels" /> Wheels
      </div>
    </div>
  
    <div>
      <label>Movement:</label>
      <span>{{system.movement}}</span>
    </div>
    <div>
      <label>Bop Avoidance:</label>
      <span>{{system.bopAvoidance}}</span>
    </div>
    <div>
      <label>Hug Modifier:</label>
      <span>{{system.hugModifier}}</span>
    </div>
  </form>
  